{%extends 'my_site/Repeat.html' %}

{%block title %}
Project1
{% endblock %}

{%block content %}
<html>


    <body>
        <h1>Kazakhstan Music</h1>

        <table class ="table  table-bordered table-dark" >
            <tr><td>Name</td><td>Introduce</td><td>Age</td></tr>
            <tr><td>Sybyzgy</td><td> Sybyzgy is an instrument consisting of a hollow reed tube with three holes.</td><td>date back 4,000 years</td></tr>
            <tr><td>Dombra</td><td>The most popular Kazakh musical instrument is dombra, with its gentle and melodious sound created by only two strings</td><td>date back 4,000 years</td></tr>
            <tr><td>Kobyz</td><td>This is the oldest musical instrument, created from solid wood, the strings and bow were made of horsehair (kyl) until recently</td><td>date back 4,000 years</td></tr>
        </table>


        <audio controls autoplay>

            <source src="C:\Users\user\Desktop\music\miras-zhugunusov-amp-murat-kabylov-myn-ese_(kmuzon.com).mp3" type="audio/mpeg">

          </audio>


    </body>
</html>
{% endblock %}
